.link-with-image-and-subtitle {
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;

    a {
        position: relative;
        text-align: center;

        img {
            display: inline-block;
            vertical-align: middle;
        }

        .subtitle {
            display: block;
        }
    }
}

.post-content {
    h2, h3, h4, h5, h6 {
        margin-top: $spacing-unit;
    }
}

.comment-form {
    .form-field .text {
    }

    textarea {
        max-width: 100%;
        min-height: 1.5em * 8;
    }
}

.comments {
    
}

.title--leave-a-comment {
    margin-top: $spacing-unit * 2;
    padding-top: $spacing-unit;
    border-top: 1px solid #eee;
}

.title--comments {
    margin-top: $spacing-unit * 2;
}
