---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<h2 id="leave-a-comment" class="title--leave-a-comment">Leave a comment</h2>

<div class="comment-form">
  <form method="post" action="https://tssmits-github-io-staticman.herokuapp.com/v2/entry/tssmits/tssmits.github.io/master/comments">
    <input name="options[redirect]" type="hidden" value="{{ page.url | prepend: 'https://www.thijssmits.com' }}">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <div class="form-field">
      <label><span class="text">Name</span><br><input name="fields[name]" type="text"></label>
    </div>
    <div class="form-field">
      <label><span class="text">E-mail</span><br><input name="fields[email]" type="email"></label>
    </div>
    <div class="form-field">
      <label><span class="text">Message</span><br><textarea name="fields[message]" row="8" cols="40"></textarea></label>
    </div>
    
    <button type="submit">Go!</button>
  </form>
</div>

<h2 id="comments" class="title--comments">Comments</h2>

<div class="comments">
  {% assign comments = site.data.comments[page.slug] %}
  {% if comments %}
    {% for comment in comments sorted reversed %}
      {% assign commentData = comment[1] %}
        <div>
          {{ commentData.message }}</br>
          From: {{ commentData.name }}</br>
          {{ commentData.date | date_to_long_string }}
        </div>
    {% endfor %}
  {% else %}
    <div class="no-comments">No comments yet.</div>
  {% endif %}
</div>
